h1 {
    font-size: 52px;
    letter-spacing: 1.3;
    line-height: 22px;
   
}

h2 {
    font-size: 1.5em;
    margin: 0.75em 0;
    font-weight: bold;
}

h3 {
    font-size: 1.17em;
    margin: 0.83em 0;
    font-weight: bold;
}

header {
    background-color: #69abee;
    padding: 20px;
    text-align: center;
    color: white;
    padding-bottom: 25px;
    padding-top: 25px;
    letter-spacing: 0.6;
    font-size: 24px;
    line-height: 30px;
}

.video-centralizado {
    display: block;
    margin: 20px auto;
    margin-top: 50px;
    max-width: 100%;
}


body {
    border: 15px solid #69abee;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

article {
    max-width: 850px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 10px;
    padding-top: 70px;
    margin-bottom: 40px; 
}

article p{
    font-size: 16px;
    line-height: 24px;
}

footer{
    background-color: #f1f1f1;
    max-width: 680px;
    margin: auto;
    padding: 20px 15px;
    margin-bottom: 70px;
}

footer ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
}

footer ul li{
    margin-bottom: 12px;
}

footer ul li:last-of-type{
    margin-bottom: 0;
}

.share-post, .links-title {
   font-size: 12px;
   font-weight: 600;
   line-height: 22px;
   text-transform: uppercase ;
}

.links-title{
    margin-bottom: 12px;
}

.post-author {
   font-size: 12px;
   line-height: 22px;
    color: #6c6c6c;

}

#title-section {
    margin-bottom: 50px;
}

.hero-image{
    margin: 50px 0;
}

.hero-image img{
    max-width: 100%;
}

#content-section {
    max-width: 680px;
    margin: auto;
}

.uppercase{
    text-transform: uppercase;
}

.botao {
    display: block;
    width: fit-content; /* Se ajusta ao conteúdo do texto */
    margin: 20px auto; /* Centraliza o botão e adiciona margem */
    padding: 15px;
    background: black;
    color: white; /* Cor do texto do botão */
    text-decoration: none; /* Remove a sublinha */
    border-radius: 5px;
    text-align: center;
}